@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height:100vh;
}
a,
input,
button,
p,
li{
  font-size: 18px;
}
th{
  padding-block:14px!important;
}
th,td{
  border:1px solid black;
  font-size:16px!important;
}
.css-tdnrhj tr:nth-of-type(odd) td{
  background:ghostwhite!important;
}
/* header navlink */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(0deg, #ed5734, #c5100e);
  transition: width 0.3s ease;
}
.nav-link:hover {
  color: white;
  text-decoration:none!important;
}
.nav-link:hover::after {
  width: 90%;
}
/* styling for the input animation */
.input-glow {
  position: relative;
  z-index: 0;
}
.input-glow::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ed5734,
    #f26b6b,
    #ba5b07,
    #ab1515,
    #c5100e,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.pricing-package li{
  display:flex;
  text-align:center;
  align-items:center;
  justify-content:flex-start;
  gap:6px;
  color:#A1A1A1;
}
/*(authentication) styling */
.reg-mss span{
  font-size:16px;
}
.forget-passkey,
.register-link,
.login-link {
  color: #ed5734;

  &:hover {
    text-decoration: underline;
  }
};