:root {
  --font-inter: "Inter", sans-serif;
  --font-inter-tight: "Inter Tight", sans-serif; /* Replace with the correct style if needed */
}
body {
  font-family: var(--font-inter);
}
h1,
h2,
h3,
 {
  font-family: var(--font-inter-tight);
  letter-spacing: -0.5px;
}


