html,
body {
  margin: 0;
  padding: 0;
}
a,
input,
button,
p,
li {
  font-size: 18px;
}
/* styling for the input animation */
.input-glow {
  position: relative;
  z-index: 0;
}
.input-glow::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #ed5734,
    #f26b6b,
    #ba5b07,
    #ab1515,
    #c5100e,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*(authentication) input group styling */
.input-group {
  width: 320px;
  margin-block:12px;
}
.input-group input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #1e2022;
  padding: 0 10px;
  background: transparent;
  border: 1px solid #1e2022;
  outline: none;
  border-radius: 5px;
}
.forget-passkey a,
.register-link {
  &:hover {
    text-decoration: underline;
  }
}
